* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: var(--Lexend);
    font-size: 16px;
    line-height: 1.5;
    /* background-color: #f9f9f9; */
    background-color: #F5F5DC;
  }

  /* .btn{
    padding: 0.6rem 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    background-color: #caf1de;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
 } */

 /* .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    background-color: #caf1de;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  } */

  

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}
  
  .explore-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin-top: 0;
    font-size: 36px;
    text-align: center;
  }
  
  .interests-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .interest {
    width: calc(25% - 10px);
    margin: 0 5px 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .interest:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .interest img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .interest h3 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: #333;
  }
  